<% provide :title, t(".title") %>
<h1><%= t ".title"%></h1>
<p>
  <%= t ".contact_rails"%><%= t ".about_sampleapp"%>
  <a href="http://www.railstutorial.org/contact"><%= t ".contact_page"%></a>.
  <%= t ".sample_app"%>
</p>
